.breadcrumbs {
	margin-top: 20px;
	padding-top: 20px;

	&__list {
		padding-left: 0;
	}

	&__item {
		display: inline-block;
		&:after {
			text-decoration: none;
			position: relative;
			color: @pink;
			content: ' - ';
		}
		&--active {
			color: @green;
			text-decoration: none;
			&:after {
				display: none;
			}
		}
	}

	&__link {
		text-decoration: underline;
		color: @pink;
		font-size: 0.857em;
		line-height: 1.429em;
		// &:after {
		// 	text-decoration: none;
		// 	position: relative;
		// 	content: ' - ';
		// }
		// &--active {
		// 	color: @green;
		// 	text-decoration: none;
		// 	&:after {
		// 		display: none;
		// 	}
		// }
	}
}