.btn {

}

.consult {
	background-color: @pink;
	border: none;
	border-radius: 5px;
	padding: 20px 30px;
	color: @white;
	text-transform: uppercase;
	margin-bottom: 30px;
	width: 350px;
	&:hover {
		background-color: @green;
		color: @white;
	}
	&--bordered {
		position: relative;
		background-color: @white;
		border: 1px solid @pink;
		color: @grey;
		text-transform: none;
		padding-left: 50px;
		&:hover {
			background-color: @white;
			color: @pink;
		}
		&:before {
			position: absolute;
			content: '';
			display: inline-block;

			width: 20px;
			height: 20px;
			left: 25px;
			top: 35%;

			background-image: url(../../img/pencil.svg);
			background-repeat: no-repeat;
			background-size: 80%;
		}
	}
}

.order {
	width: 130px;
	font-size: 14px;
	background-color: @green;
	padding: 12px;
	padding-left: 40px;
	border: none;
	text-transform: uppercase;
	color: @white;
	position: relative;
	&:hover {
		color: @white;
		text-decoration: none;
		background-color: @dark-green;
	}
	&:focus {
		color: @white;
		text-decoration: none;
	}
	&:visited {
		color: @white;
		text-decoration: none;
	}
	&:before {
		position: absolute;
		content: '';
		display: inline-block;

		width: 15px;
		height: 15px;
		top: 17px;
		left: 13px;


		background-image: url(../img/cart-white.png);
		background-size: 100%;
		background-repeat: none;
	}

}


.basket {
	width: 130px;
	font-size: 14px;
	background-color: @pink;
	border: none;
	padding: 12px;
	padding-left: 40px;
	color: @white;
	text-transform: uppercase;
	position: relative;
	&:hover {
		color: @white;
		text-decoration: none;
	}
	&:focus {
		color: @white;
		text-decoration: none;
	}
	&:visited {
		color: @white;
		text-decoration: none;
	}
	&:before {
		position: absolute;
		content: '';
		display: inline-block;

		width: 15px;
		height: 15px;
		top: 17px;
		left: 13px;


		background-image: url(../img/cart-white.png);
		background-size: 100%;
		background-repeat: none;
	}
}