.catalog-home {
	background-color: @white;
	margin-bottom: 20px;

	&__cards-inner {
		padding: 0 15px;
	}

	&__cards-title {
		padding-top: 20px;
		color: @dark-green;
		font-size: 1.375em;
		line-height: 1.857em;
		margin-bottom: 20px;
	}
}