.contacts {
	color: @grey;
	margin-top: -40px;

	&__title {
		margin-top: -10px;
		color: @dark-green;
		font-size: 1.428em;
		line-height: 3.071em;
	}

	&__item {
		padding: 0 15px;
		padding-top: 10px;
		background-color: @white;
	}

	&__txt {
		padding-left: 40px;
		position: relative;
		&:before {
			position: absolute;
			display: inline-block;
			content: '';

			width: 20px;
			height: 20px;
			left: 17px;
			top: 3px;

			background-repeat: no-repeat;
			background-size: 80%;
		}
	}

	&__item-title {
		font-size: 1.571em;
		margin-bottom: 30px;
		background-repeat: no-repeat;
		background-image: url(../img/point--pink.svg);
	}

	&__tel {
		margin-bottom: 10px;
		font-size: 1.286em;
		line-height: 2.142em;
		padding-bottom: -10px;
		&:first-of-type:before {
			top: 10px;
			left: 4px;
			background-repeat: no-repeat;
			background-image: url(../img/phone.svg);
		}
	}

	&__time {
		margin-bottom: 25px;

		&:before {
			width: 20px;
			height: 20px;
			left: 1px;
			background-repeat: no-repeat;
			background-image: url(../img/time.svg);
		}
	}

	&__mail:before {
		left: 0;
		background-repeat: no-repeat;
		background-image: url(../img/mail.svg);
	}

	&__mail a{
		text-decoration: underline;
		color: @green;
	}

	&__subway {
		font-size: 1em;
		line-height: 1.428em;
		margin-top: 20px;
		margin-bottom: 30px;

		&:before {
			left: 0;
			background-repeat: no-repeat;
			background-image: url(../img/subway.svg);
		}
	}

	&__parking {
		font-size: 1em;
		line-height: 1.428em;
		margin-bottom: 25px;

		&:before {
			left: 1px;
			background-repeat: no-repeat;
			background-image: url(../img/parking.svg);
		}
	}

	&__map {
		padding-right: 15px;
		margin-top: 20px;
	}

	&__img {
		margin-top: 25px;
		margin-bottom: 20px;
	}

	&__enter-txt {
		color: @dark-green;
		font-size: 1.285em;
		line-height: 1.428em;
		margin-bottom: 30px;
	}

	&__address-txt {
		color: @dark-green;
		font-size: 0.857em;
		line-height: 20px;
		padding-bottom: 25px;
		font-weight: 500;
	}
}




