.footer {
	padding-top: 60px;
	padding-bottom: 30px;

	&__txt {
		font-size: @fz;
		line-height: 1.786em;
	}

	&__address-title {
		font-size: @fz;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&__address-tel {

		padding-left: 30px;
		font-size: 14px;
		line-height: 20px;
		position: relative;
		margin-bottom: 20px;
		&:before {
			position: absolute;
			display: inline-block;
			content: '';

			width: 20px;
			height: 30px;
			left: 5px;
			top: 5px;

			background-image: url(../img/point--pink.svg);
			background-repeat: no-repeat;
			background-size: 100%;
			color: @pink;
		}
	}

	&__tel {
		text-decoration: none;
		color: @white;
		&:hover {
			text-decoration: none;
			color: @white;
		}
		&:visited {
			text-decoration: none;
			color: @white;
		}
	}

	&__time-mail {
		margin-top: 10px;
	}

	&__mail {
		color: @white;
		text-decoration: underline;
	}

	&__socials-item {
		display: inline-block;
		margin-right: 10px;
		width: 30px;
		height: 30px;

		border: 1px solid @white;

		text-align: center;

		& img {
			width: 15px;
			height: 15px;
		}
	}

	&__copyright {
		margin-top: 60px;
	}
}