.promo-cards {
	padding-bottom: 300px;

	&__title {
		margin-top: 90px;
		padding-bottom: 25px;
	}

	&__txt {
		font-size: @fz;
		line-height: 1.714em;
	}
}
.promo-card {
	&__item {
		margin-bottom: 30px;
		img {
			width: 100%;
		}
	}

	// &__item-img-box img {
	// 	width: 100%;
	// }

	&__item-txt {
		padding: 15px;
		color: @dark-green;
		font-weight: bold;
		font-size: @fz;
		line-height: 1.714em;
		background-color: @white;
	}
}
