.sidebar-main {
	margin-top: 20px;

	&__list {
		background-color: @light-green;
		color: @dark-green;
		margin-bottom: 30px;
	}

	&__link {
		padding: 15px 0;
		border-bottom: 1px solid white;

		a {
			color: @dark-green;
			&:hover {
				text-decoration: none;
			}

			&:active {
				color: @pink;
				text-decoration: none;
			}
		}
		
		&:last-child {
			border-bottom: none;
		}
	}

	&__txt {
		padding: 0 15px;
		color: @dark-green;
		margin-bottom: 17px;
	}

	&__socials-list {
		padding-left: 15px;
	}

	&__socials-item {
		display: inline-block;
		margin-right: 10px;
	}
}