.sidebar-main__inner {
	margin: 0 15px;
}
.sidebar-main__list {
	background-color: #c7e8e0;
	color: #456e72;
}
.sidebar-main__link {
	padding: 15px 0;
	border-bottom: 1px solid white;
}
.sidebar-main__link a {
	color: #48b79f;
}
.sidebar-main__link a:active {
	color: #fc7279;
}
.sidebar-main__link:last-child {
	border-bottom: none;
}
.sidebar-main__txt {
	padding: 0 15px;
	color: #456e72;
}
.sidebar-main__socials-item {
	display: inline-block;
}