.topnav {

	&__inner {
		background-color: #48b79f;
	}

	&__list {
		wrap: no-wrap;
	}

	&__link {
		display: inline-block;
		padding: 0 0px;
		font-size: 15px;
		line-height: 43px;
		text-transform: uppercase;
	}

	&__link a{
		color: #fff;
		&:hover {
			text-decoration: none;
		}
	}
	
	&__link:hover {
		background-color: #456e72;
	}
}